<div class="container intro-container">
  <h3 id="{{ site.about_title | slugify | default: 'about-me' }}">{{ site.about_title | default:
  "About Me" }}</h3>
  <div class="row clearfix">
    {%- if site.about_profile_image -%}
      <div class="col-xs-12 col-sm-4 col-md-3 no-print">
        <img class="profile-img" src="images/PP.jpg" alt="my-image">
      </div>
    {%- endif -%}
    <div class="{{ 'col-xs-12 ' }}{%- if site.about_profile_image -%}col-sm-8 col-md-9 col-print-12{%- endif -%}">
      As a born and raised South African, I innately grew a very curious mind for the world and evolved a passion for learning. I had to work several jobs
      during my undergraduate studies and developed a strong sense for hard work, time management and being proactive. Educated in Civil Engineering, i evidently
      enjoy learning coding in my spare time. I also enjoy travelling abroad and going for long walks with my partner and dog when possible. 
    </div>
  </div>
</div>
