<div class="container header-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1>Tyler van Niekerk</h1>
      <h2>Construction Project Manager</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
      <ul class="icons no-print">
          <li>
            <a target="_blank" href=https://www.linkedin.com/in/tyler-van-niekerk-6b43721ba/" class="button button--sacnite button--round-l">
              <i class="fab fa-linkedin" title="Linkedin link"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="mailto:tylervn01@gmail.com" class="button button--sacnite button--round-l">
              <i class="fa-solid fa-envelope" title="Email Link"></i>
            </a>
          </li>
        
      {%- if site.phone -%}
        <p>
          Phone: +44 78 6918 9059
        </p>
      {%- endif -%}
      
    </div>
  </div>
</div>
